.wrapper {
  width: 96px;
  height: 41px;
  position: relative;
}

.wrapper:hover .middle {
  width: 50px;
  height: 50px;
  top: -9%;
  left: 29%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.3;
}

.wrapper:hover .top {
  -webkit-transform: rotate(45deg);
  top: 40%;
  border-radius: 10px;
  background-color: white;
}

.wrapper:hover .bottom {
  -webkit-transform: rotate(-45deg);
  top: 40%;
  border-radius: 10px;
  background-color: white;
}

.bar {
  width: 80px;
  height: 10px;
  border: 2px solid white;
  position: absolute;
  border-radius: 10px;
}

.top {
  left: 15%;
  top: 0%;
  -webkit-transition: all 0.5s;
}

.middle {
  left: 15%;
  top: 60%;
  -webkit-transition: all 0.5s;
}

.bottom {
  left: 15%;
  top: 120%;
  -webkit-transition: all 0.5s;
}
.navbar {
  transform: scale(0.6);
}
