.about {
  padding: 7em 0;
}
.about .container h2 {
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about .container p {
  margin-bottom: 1rem;
  font-size: 18px;
}
.about .container span {
  cursor: pointer;
}
.button {
  font-weight: 300;
  letter-spacing: 1px;
  color: #8c8c8c;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about-img {
  background-image: url("../../assets/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.container {
  display: flex;
  column-gap: 50px;
}
.description {
  position: relative;
}
.description h3 {
  position: absolute;
  top: -151px;
  left: 149px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
  font-size: 10em;
}
